$color_white: #f3f3f3
$color_black: #081731
$color_blue_end: #0B346E
$color_rain: #4DACFF
$color_white_cloud: #f2f9fe
$color_gray_cloud: #ccc

*
  font-family: 微軟正黑體
  // border: solid 1px
  
header.jumbotron
  text-align: left
  background-image: url(http://res.cloudinary.com/dpdxi9nqy/image/upload/v1504199385/kate-williams-40159_yauhkp.jpg)
  background-size: cover
  background-attachment: fixed
  .container
    margin: 0
    width: 100%
    padding: 60px 0px
    h1
      background: rgba(0,0,0,0.2)
      width: 100%
      font-size: 60px
      padding: 20px
      letter-spacing: 2px
      color: $color_white
      margin-bottom: 10px
    .line
      border: 1px rgba(white,0.7) solid
      width: 200px
      margin-left: 20px
    h4
      margin-top: 20px
      color: rgba(white,0.8)
      padding-left: 22px
#app
  height: 200px
  padding: 20px
.book
  display: inline-block
  padding: 10px
  text-align: center
  width: 170px
  border: solid 1px #bbb
  line-height: 22px
  a
    color: #555
  
  img
    width: 100%
    
  .author,.price,.publish
    font-weight: normal
    margin: 0
    font-size: 14px
    
  .author
    margin-top: 5px
    
  .name 
    margin: 0
    font-size: 18px
    a
      color: #222
    
  .red
    font-weight: 900
    color: #d93800
    
    
.book.detail
  display: block
  width: 80%
  text-align: left
  padding: 10px
  line-height: 24px  
  
  img
    width: 150px
    display: inline-block
    vertical-align: middle
  .infos
    display: inline-block
    width: calc(100% - 150px - 20px)
    vertical-align: middle
  
.big
  width: 280px
  height: 430px
  vertical-align: middle
  img
    margin-bottom: 5px
    
.detail.big
  height: initial
  padding: 20px
  img
    width: 220px
    vertical-align: middle
  .infos
    width: calc(100% - 220px - 20px)
  