<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>vue.js-v-if</title>
  
  
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  
<header class="jumbotron">
  <div class="container">
    <h1 data-0="transform:translateY(-50px)" data-500="transform:translateY(100px)"> 跟著書本去旅行</h1>
    <div class="line"></div>
    <h4>跨出書宅圈，尋找對味的旅人</h4>
  </div>
</header>
<div id="app">
  <h1>使用Vue.js計算呈現資訊/v-if</h1>
  <h3>實戰誠品排行版資料轉換成html</h3><br/>
  <label>詳細模式
    <input type="checkbox" v-model="mode_detail"/>
    <!--利用h5可預覽看看值-->
    <!--h5 {{mode_detail}}-->
  </label>
  <label>優惠價</label><span v-for="(id,book) in books">
    <lavel>{{id+1}}</lavel>
    <input type="checkbox" v-model="book.is_discount"/></span>
  <label>小呈現
    <input type="radio" v-model="mode_size" value="small"/>
  </label>
  <label>大呈現
    <input type="radio" v-model="mode_size" value="big"/>
  </label><br/>
  <div class="book {{mode_detail?'detail':''}} {{mode_size}}" v-for="book in books"><img src="{{book.img}}"/>
    <div class="infos">
      <h2 class="name"> <a href="book.link_book" target="_blank">{{book.name.substring(0,18)}}</a></h2>
      <h4 class="author">作者：<a href="book.link_author" target="_blank">{{book.author}}</a></h4>
      <h4 class="publish" v-if="mode_detail">出版社: {{book.publish_house}}</h4>
      <h4 class="price" v-if="book.is_discount">優惠價：<span class="red">{{book.discount*100}} </span><span>折 </span><span class="red">{{parseInt(book.price*book.discount)}}</span><span>元</span></h4>
      <h4 class="price" v-if="!book.is_discount"> 價錢：<span class="red">{{book.price}} </span><span>元</span></h4>
      <h4 class="publish" v-if="mode_detail">出版日期: {{book.date}}</h4>
    </div>
  </div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
